.App container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background: #dfe9f3;
}

.App-header,
h1,
footer {
  text-align: center;
}

.App-header {
  font-size: 90px;
  margin-top: 30px;
  color: #27296d;
  font-family: "Pacifico", cursive;
}

.App h1 {
  margin: 35px auto;
  color: #702283;
  font-size: 40px;
}

.App footer {
  margin: 50px auto;
  color: #27296d;
  font-size: 20px;
  text-decoration: none;
}

.App .spacing {
  margin-top: 10px;
  color: #dfe9f3;
}

@media (max-width: 640px) {
  .App-header {
    font-size: 75px;
  }

  .App h1 {
    font-size: 35px;
  }
}
