.App {
  max-width: 500px;
  margin: 30px auto;
  background-color: #dfe9f3;
}

.App-header,
h1,
footer {
  text-align: center;
}

.App-header {
  font-size: 90px;
  margin-top: 20px;
  color: #27296d;
  font-family: "Pacifico", cursive;
}

.App h1 {
  margin: 15px auto;
  color: #702283;
  font-size: 40px;
  font-weight: bold;
}

.App footer {
  margin: 60px 0;
  color: #27296d;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 640px) {
  .App-header {
    font-size: 80px;
  }

  .App h1 {
    font-size: 30px;
    max-width: 300px;
  }
}
