.Dictionary .search-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 60px auto;
}

.Dictionary .search-form-input {
  min-width: 400px;
  padding: 15px 20px;
  border-color: #a393eb;
  border-radius: 20px;
  background-color: #a393eb;
  color: white;
  outline: none;
  border: 1px solid #ddd;
  font-size: 16px;
}

::placeholder {
  color: white;
  font-size: 14px;
}

.Dictionary button {
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 15px;
  margin-left: 10px;
  background-color: #a393eb;
  border: #a393eb;
  color: white;
  cursor: pointer;
}

.Dictionary section {
  background: #fcfefe;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 15px auto;
  max-width: 500px;
}

@media (max-width: 640px) {
  .Dictionary .search-form-input {
    min-width: 250px;
  }
}
