body {
  line-height: 1.5;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

html {
  height: 100%;
}

code {
  font-family: "Domine", serif;
}

a {
  text-decoration: none;
  color: #a393eb;
  cursor: pointer;
}

@media (max-width: 640px) {
  section {
    width: 90%;
  }
}
