body {
  line-height: 1.5;
  background-color: #dfe9f3;
}

code {
  font-family: "Domine", serif;
}

a {
  text-decoration: none;
  color: #a393eb;
  cursor: pointer;
}

@media (max-width: 640px) {
  section {
    width: 90%;
  }
}
