.Meaning h3 {
  color: #702283;
  font-size: 26px;
  margin-left: 20px;
}

.Meaning .definitionsBlock {
  margin: 0 20px;
}

.Meaning .definitionsParagraph {
  color: #1b335f;
  display: block;
  margin: 19px;
  font-size: 20px;
}

.Meaning .definitionsExample {
  color: #702283;
  opacity: 80%;
  display: block;
  margin-left: 20px;
  font-size: 17px;
  margin-bottom: 15px;
}
