.Meaning h3 {
  color: #27296d;
  size: 20px;
  font-style: italic;
}

.Meaning .definitionsBlock {
  margin: 0 20px;
}

.Meaning .definitionsParagraph {
  color: #1b335f;
  display: block;
  margin: 20px 0;
}

.Meaning .definitionsExample {
  color: #c9356c;
  display: block;
  margin: 10px 0;
}
