.Photos {
  margin-bottom: 30px;
}

.Photos row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.Photos div {
  padding: 10px;
  margin: 15px auto;
}

.Photos img {
  border-radius: 4px;
}

@media (max-width: 640px) {
  section {
    width: 80%;
  }
}
