.Results h2 {
  font-size: 34px;
  color: #1b335f;
  margin: 10px 15px;
  text-align: start;
}

.Results section {
  background: #fcfefe;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 15px auto;
  max-width: 450px;
}
